*
  box-sizing: border-box
  list-style: none
  text-decoration: none

html
  scroll-behavior: smooth
@font-face
  font-family: 'Verdana-Bold'
  src: url('../fonts/Verdana-Bold.woff') format('woff')
  src: url('../fonts/Verdana-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Verdana-Regular'
  src: url('../fonts/Verdana-Regular.woff') format('woff')
  src: url('../fonts/Verdana-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'NotoSerif-Regular'
  src: url('../fonts/NotoSerif-Regular.woff') format('woff')
  src: url('../fonts/NotoSerif-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'NotoSerif-Bold'
  src: url('../fonts/NotoSerif-Bold.woff') format('woff')
  src: url('../fonts/NotoSerif-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal

body
  background: black

a
  color: white
