.services
  // margin-top: 60px
  font-family: 'Verdana-Bold'
  margin-bottom:
  &--wrapper
    height: 100vh
  &--bg
    background: url('../img/services--bg.png') no-repeat
    width: 100%
    height: 200px
    margin-bottom: 50px
    background-size: cover
  &__width
    padding-top: 20px
    max-width: 800px
    margin: auto
    display: flex
    align-items: center
  &__title
    margin: auto
    color: #FFFFFF
    text-transform: uppercase
    text-align: center
    font-size: 24px
    line-height: 30px

.line
  content: ''
  width: 200px
  border: 1px solid red

.container
  margin-top: 40px
  padding-top: 40px
  display: flex
  padding: 0 20px
  justify-content: center
  align-items: center
  width: 100%

.slide
  width: 100%
  // width: 20px
  height: 80vh
  margin: 10px
  cursor: pointer
  color: white
  object-fit: cover
  flex: 1
  // flex-basis: 100px
  // background-size: cover
  background-position: center
  background-repeat: no-repeat
  transition: all 500ms ease-in-out
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 30px
  position: relative

.slide
  & img
    filter: blur(2px)
  & h3
    position: absolute
    font-size: 22px
    width: 200px
    left: -50px
    top: 150px
    margin: 0
    opacity: 1
    transform: rotate(90deg)
  & div
    position: absolute
    top: 200px
    left: 10%
    width: 50%
    background: linear-gradient(109.64deg, #000000 -7.49%, rgba(0, 0, 0, 0) 132.23%)
    box-shadow: 14px -14px 31px -5px rgba(0, 0, 0, 0.25)
    display: flex
    justify-content: space-between
    // flex-direction: column
    padding: 37px 50px 37px 50px
    display: none
    border-radius: 0 0px 15px 15px
    animation: vis 3s forwards
    // border: 0.1px solid red
    // z-index: 1
  & h5
    font-family: 'Verdana-Regular'
    position: absolute
    font-size: 15px
    top: 145px
    left: 10%
    margin: 0
    // opacity: 0
    display: none

  & p
    display: block
    // position: absolute
    font-size: 19px
    // top: 200px
    // left: 10%
    margin: 0
    font-family: 'Verdana-Regular'
    // opacity: 0
    // padding-bottom: 30px
    display: none
    width: 260px

  & span
    background: rgba(0, 0, 0, 0.6)
    border-radius: 5px
    width: 90px
    font-size: 16px
    line-height: 27px
    margin: 0
    display: none
    background: linear-gradient(109.64deg, #000000 -7.49%, rgba(0, 0, 0, 0) 132.23%)
    box-shadow: 14px -14px 31px -5px rgba(0, 0, 0, 0.25)
    // width: 30%
    text-align: center
    padding: 12px 10px 12px 10px
    // &:last-child
    //   width: 60%
// .red
//   color: red
.slide
  &.active
    flex: 10
    // flex-basis: 900px

.slide
  &.active
    & h3
      opacity: 1
      animation: vis 1s forwards
      transform: rotate(0deg)
      top: 90px
      left: 10%
      border-left: 3px solid red
      padding-bottom: 4px
      padding-left: 7px
    & h5
      animation: vis 1.5s forwards
      display: inline
      // opacity: 1
      transition: opacity 0.3s ease-in 0.4s
    & div
      display: flex
    & p
      display: inline
      // display: block
      // display: block
      // opacity: 1
      transition: opacity 0.3s ease-in 0.4s
      // transition: ease-in 0.4s
    & span
      display: inline
      // opacity: 1
      transition: opacity 0.3s ease-in 0.4s
